
@{
    ViewData["Title"] = "AddWatermark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Home" asp-action="AddWaterMark" method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <button type="submit">Kaydet</button>
</form>
